/* home.component.css */

body {
  background: linear-gradient(to right, #fdd5a1, #c2e9fb);
  margin: 0; /* Remove default margin to prevent horizontal overflow */
}

.home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #f2a1fd, #e5a9f7);
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%; /* Ensure the container doesn't exceed the viewport width */
}

.left-section {
  flex: 1; /* Allow the left section to expand to fill available space */
  order: 2;
}

.profile-pic {
  display: block; /* Change to block element to control its size */
  max-width: 100%; /* Ensure the image doesn't exceed its container */
  height: auto; /* Maintain aspect ratio */
  border-radius: 50%;
}

.right-section {
  flex: 1; /* Allow the right section to expand to fill available space */
  order: 1;
  margin-left: 20px;
}

p {
  color: #5c5656;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  background: linear-gradient(to right, #fdd5a1, #c2e9fb);
  transition: background 0.3s ease;
}

.button:hover {
  background: linear-gradient(to right, #a1c4fd, #c2e9fb);
  filter: brightness(0.9);
}

/* Media Queries */
@media (max-width: 768px) {
  .home-container {
    flex-direction: column; /* Stack sections on smaller screens */
  }

  .left-section,
  .right-section {
    flex: initial; /* Reset flex property to its default */
    margin-left: 0; /* Reset margin for smaller screens */
    width: 100%;
  }
}
