
/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .navbar {
    background-color: #3498db;
  }
  
  .navbar-brand,
  .navbar-nav .nav-link {
    color: #fff;
  }
  
  .navbar-toggler-icon {
    background-color: #fff;
  }
  
  .nav-link:hover {
    color: #ffd700;
  }
  
  .main-content {
    margin-top: 20px;
  }
  
  .project-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ecf0f1;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  